{% extends 'base.html' %}

{% block title %}Seating Plan{% endblock %}

{% block content %}
<h2>Seating Arrangement</h2>
<p style="color:#64748B;">Room-wise seating allocation for examinations</p>

{% if allocations %}
    <div class="card">
        <table>
            <thead>
                <tr>
                    <th>Room</th>
                    <th>Seat No</th>
                    <th>Roll Number</th>
                    <th>Student</th>
                </tr>
            </thead>
            <tbody>
                {% for a in allocations %}
                <tr>
                    <td>{{ a.classroom.room_number }}</td>
                    <td>{{ a.seat_number }}</td>
                    <td>{{ a.student.roll_number }}</td>
                    <td>{{ a.student.user.username }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="card">
        <p>No seating allocation available.</p>
    </div>
{% endif %}
{% endblock %}
